.loginForm{
    width: 520px;
    height: auto;
    background-color: #FFFFFF;
    border-radius: 23px;
    margin-bottom: 50px;
}
form{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    padding: 40px;
}

.loginForm-label{
    margin-bottom: 3px;
}

#loginForm-input-login, #loginForm-input-password{
    width: 420px;
    height: 56px;
    border: #E0E0E0 solid 1px;
    border-radius: 12px;
    margin-bottom: 20px;
    padding-left: 20px;
}

#loginForm-input-login, #loginForm-input-password::-webkit-input-placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

.loginForm-button{
    background-color: #242582!important;
    border: 1px solid #242582;
    color: #FFFFFF;
    font-weight: bold;
}
.login-error{
    display: flex;
    color: #F64C72;
}